.wrapper {
  display: flex;
  align-items: center;
  background-color: #353535;
  .top {
    border: none;
  }
  & div {
    flex: 33.3% 1;
    color: white;
    border-left: 1px solid gray;
    padding: 20px 0 20px 30px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
