.dashboardContainer {
  display: flex;
  height: 50px;
  .dashboard {
    display: flex;
    flex: 80% 1;
    background-color: #ececec;
    align-items: center;
    background-color: #e1e3e6;
    padding: 15px 0;
    border-top: 2px solid #c5c7c9;
    border-bottom: 2px solid #c5c7c9;
    & p {
      color: grey;
      font-weight: bold;
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .rightArrow {
      background-color: black;
      width: 20px;
      padding: 10px 0;
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      display: flex;
      align-items: center;
      margin-right: 10px;
      & svg {
        width: 10px;
      }
    }
  }
  .favorites {
    display: flex;
    flex: 20% 1;
    align-items: center;
    justify-content: center;
    background-color: #c5c7c9;
    padding: 0 20px;
    .heartIcon {
      & svg {
        width: 20px;
        margin-right: 10px;
      }
    }
    & p {
      color: gray;
      font-weight: bold;
      font-size: 12px;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}
